.glassy{
  background-color: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(35px);
  border: solid 1px #0117d863;
  border-radius: 20px;
}

.modalBackground{
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}